/* 폰트 */

@import url('https://fonts.googleapis.com/css2?family=Spoqa+Han+Sans+Neo:wght@400;700&display=swap');


body {
    font-family: 'Spoqa Han Sans Neo', sans-serif;
}

/* 노말라이즈 */

body,
ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

p,
a {
    display: block;
    padding: 0;
    margin: 0;
}

body {
    color: #222;
}


/* 라이브러리 */

.pc_con {
    width: 1200px;
    margin-inline: auto;
}

.img_box>img {
    display: block;
    width: 100%;
}

.flex {
    display: flex;
}

.mt-40 {
    margin-top: 40px;
}

.mt-47 {
    margin-top: 47px;
}

.f-16{
    font-size: 16px;
}

/* 커스텀 */

/* 헤더 시작 */
.pc_header {
    position: relative;
}

/* 헤더-탑 */

.pc_header .h_top {
    display: flex;
    justify-content: end;
    margin: 30px 0;
}

.pc_header .h_top ul {
    display: flex;
}

.pc_header .h_top ul li a {
    padding: 0 12px;
    color: #666;
    font-size: 14px;
    position: relative;
    font-weight: 600;
}

.pc_header .h_top ul li:not(:last-child) a::after {
    content: "";
    background-color: #666;
    height: 12px;
    width: 1px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}

/* 헤더-바텀 */

.pc_header .h_bot {
    display: flex;
    justify-content: space-between;
}

.pc_header .h_bot .menu_wrap {
    display: flex;
}

/* 헤더-바텀-메뉴 */

.pc_header .h_bot .menu_wrap .menu_box>ul {
    display: flex;
    gap: 50px;
    padding-right: 107px;
}

.pc_header .h_bot .menu_wrap .menu_box>ul>li>a {
    padding: 0 0 20px;
    display: block;
    font-size: 18px;
    font-weight: 500;
    position: relative;
}

.pc_header .h_bot .menu_wrap .menu_box>ul>li>a.active:after {
    content: "";
    width: 100%;
    height: 3px;
    background-color: #FFDE33;
    position: absolute;
    bottom: -1px;
    left: 50%;
    transform: translateX(-50%);
}

/* 헤더-바텀-2차메뉴 */

.pc_header .h_bot .menu_wrap .menu_box>ul>li>a.active+.sub_menu_wrap {
    position: absolute;
    top: 96px;
    left: 0;
    width: 100%;
    border-top: solid 1px #FFDE33;
    border-bottom: 1px solid #e0e0e0;
    padding-top: 25px;
    color: #666;
    font-weight: 500;
}

.pc_header .h_bot .menu_wrap .menu_box>ul>li>a.active+.sub_menu_wrap .pc_con {
    display: flex;
    flex-wrap: wrap;
}

.pc_header .h_bot .menu_wrap .menu_box .sub_menu_wrap .sub_menu_list {
    width: 25%;
    margin-bottom: 50px;
    padding: 0 15px;
    box-sizing: border-box;
    border-left: 1px solid #eee;
}

.pc_header .h_bot .menu_wrap .menu_box .sub_menu_wrap .sub_menu_list a:hover {
    color: #9e8c6e;
}

.pc_header .h_bot .menu_wrap .menu_box .sub_menu_wrap .sub_menu_list .menu_link,
.pc_header .h_bot .menu_wrap .menu_box .sub_menu_wrap .sub_menu_list>p {
    font-size: 18px;
    margin-bottom: 10px;
}

.pc_header .h_bot .menu_wrap .menu_box .sub_menu_wrap .sub_menu_list .sub_link {
    font-size: 14px;
    padding-bottom: 7px;
    vertical-align: top;
}

.pc_header .h_bot .menu_wrap .menu_box .sub_menu_wrap .sub_menu_list .badge {
    background-color: #f46600;
    display: inline-block;
    padding: 0;
    font-size: 11px;
    color: #fff;
    padding: 0 6px 1px;
    margin-left: 2px;
}

/* 헤더-바텀-버튼메뉴 */

.pc_header .h_bot .menu_wrap .menu_btn_box ul {
    display: flex;
    gap: 15px;
    margin-left: 50px;
}








.make_scroll {
    width: 10px;
    height: 800px;
}

.font-check {
    font-size: 20px;
}

.font-check .f100 {
    font-weight: 100;
}

.font-check .f200 {
    font-weight: 200;
}

.font-check .f300 {
    font-weight: 300;
}

.font-check .f400 {
    font-weight: 400;
}

.font-check .f500 {
    font-weight: 500;
}

.font-check .f600 {
    font-weight: 600;
}

.font-check .f700 {
    font-weight: 700;
}

.font-check .f800 {
    font-weight: 800;
}

.font-check .f900 {
    font-weight: 900;
}